[submodule "site/themes/hugo-sustain"]
	path = site/themes/hugo-sustain
	url = https://github.com/nurlansu/hugo-sustain
[submodule "site/themes/hugo-coder"]
	path = site/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
